{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/form.css'%}" />
    <!-- <link rel="stylesheet" href="form.css" />
    <script src="form.js"></script> -->
    <title>Get Your Attendence</title>
  </head>
  <body>
    <div id="LogoContainer">
      <img src="{% static 'media/logo.png' %}" alt="nbkrist LOGO" />
    </div>
    <header>
      <div id="HContainer">
        <h1>Get Your Attendence</h1>
      </div>
    </header>
    <main>
      <div id="form">
        <div id="head">
          <h1>Enter Your Roll Number</h1>
        </div>
        <form action="" method="post">
          <div class="inpdiv">
            {% csrf_token %}
            <input
              required
              value="2"
              maxlength="1"
              class="inp"
              type="text"
              name="roll"
            />
            <input
              required
              value="3"
              maxlength="1"
              class="inp"
              type="text"
              name="roll"
            />
            <input
              required
              value="K"
              maxlength="1"
              class="inp"
              type="text"
              name="roll"
            />
            <input
              required
              value="B"
              maxlength="1"
              class="inp"
              type="text"
              name="roll"
            />
            <input
              required
              value="1"
              maxlength="1"
              class="inp"
              type="text"
              name="roll"
            />
            <input
              required
              value="A"
              maxlength="1"
              class="inp"
              type="text"
              name="roll"
            />
            <input
              required
              value="0"
              maxlength="1"
              class="inp"
              type="text"
              name="roll"
            />
            <input required maxlength="1" class="inp" type="text" name="roll" />
            <input required maxlength="1" class="inp" type="text" name="roll" />
            <input required maxlength="1" class="inp" type="text" name="roll" />
          </div>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </main>
    <script src="{% static 'js/form.js'%}"></script>
  </body>
</html>
